.campo-rojo {
    
    border: 1px solid red; /* También puedes aplicar un borde rojo si es necesario */
  }
  .tabla-scroll {
    max-height: 200px;
    overflow: auto;
  }
  .cuerpo {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}
