<div class="container-fluid centered-div ">
  <div class="row split-div">
    <div class="col-md-6 col-sm-12 d curva">
      <div class="p-3">
        <div class="text-center">
          <img src="../../../assets/img/unnamed (1).png" class="img-fluid"
            alt="logo">
        </div>

        <form [formGroup]="loginForm" (submit)="onSubmit()">
          <div class="form-group">
            <label>Usuario</label>
            <input type="text" placeholder="Usuario" class="form-control"
              formControlName="usuario" required>
          </div>

          <div class="form-group">
            <label>Enter your password</label>
            <input type="password" class="form-control"
              formControlName="contraseña" required>
          </div>

          <div class="text-center">
            <br>
            <button type="submit" class="btn btn btn-outline-primary">Iniciar
              Sesion</button>
          </div>
          <div class="form-outline mb-4 text-center">
            <!--<a href="">Olvidaste tu contraseña </a>-->
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 fondoblue2 colorgray semibold curva2">
      <div class="content-div">
        <h3 class="mb-4">Centro Cambiario Inmtec</h3>
        <p class="mb-0">{{motivationalQuote}}</p>
      </div>
    </div>
  </div>
</div>