<div class="container-fluid centered-div ">
  <div class="row split-div">
    <div class="col-md-6 col-sm-12 d curva">
      <div class="p-3">
        <div class="text-center">
          <img src="../../../assets/img/unnamed (1).png" class="img-fluid"
            alt="logo">
        </div>

        <form [formGroup]="loginForm" (submit)="onSubmit()" class="mt-3">

  <div class="form-group mb-3">
    <label class="fw-semibold">Usuario</label>
    <div class="input-group">
      <span class="input-group-text">
        <i class="bi bi-person-fill"></i>
      </span>
      <input type="text" placeholder="Usuario" class="form-control"
        formControlName="usuario" required>
    </div>
  </div>

  <div class="form-group mb-3">
    <label class="fw-semibold">Contraseña</label>
    <div class="input-group">
      <span class="input-group-text">
        <i class="bi bi-lock-fill"></i>
      </span>

      <input [type]="showPassword ? 'text' : 'password'"
        class="form-control"
        placeholder="Contraseña"
        formControlName="contraseña"
        required>

      <span class="input-group-text" style="cursor:pointer"
        (click)="showPassword = !showPassword">
        <i class="bi" [ngClass]="showPassword ? 'bi-eye-fill' : 'bi-eye-slash-fill'"></i>
      </span>
    </div>
  </div>

  <div class="text-center mt-4">
    <button type="submit" class="btn btn-primary px-4 py-2 rounded-pill">
      Iniciar Sesión
    </button>
  </div>

</form>

      </div>
    </div>
    <div class="col-md-6 col-sm-12 fondoblue2 colorgray semibold curva2">
      <div class="content-div">
        <h3 class="mb-4">Centro Cambiario Inmtec</h3>
        <p class="mb-0">{{motivationalQuote}}</p>
      </div>
    </div>
  </div>
</div>