.t {
  height: 60vh;

}

.txt {

  text-align: right;
  font-size: 30px;
  height: 80vh;
  display: flex;
  justify-content: right;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
}

.txt2 {

  text-align: left;
  font-size: 30px;
  height: 80vh;
  display: flex;
  justify-content: left;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
}

.an {
  height: 35%;
}

.recuadro {
  width: 100%;
  /* Ajusta el ancho según sea necesario */
  height: 100%;
  /* Ajusta la altura según sea necesario */
  border-radius: 20px;
  /* Ajusta el radio de redondeo según sea necesario */
  display: flex;
  /* Usado para centrar el texto */
  align-items: center;
  /* Centra verticalmente */
  justify-content: center;
  /* Centra horizontalmente */
}